@model AspnetRun.Shared.Dtos.ReservationDto
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Create";
    //var t = ViewBag.BookingTimes;
    var workingInfo = ViewBag.WrokingInfo;
}


<section class="page-section bg-light" id="create-reservation">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <section>
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group" hidden>
                            <input asp-for="Id" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="From" class="control-label"></label>
                            <input name="From" class="form-control datetimepicker" autocomplete="off" />
                            <span asp-validation-for="From" class="text-danger"></span>
                        </div>
                        @* <div class="form-group">
                            <label asp-for="To" class="control-label"></label>
                            <input name="To" class="form-control datetimepicker" autocomplete="off" />
                            <span asp-validation-for="To" class="text-danger"></span>
                            </div>*@
                        <div class="form-group" hidden>
                            <input asp-for="CourtId" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="FullName" class="control-label"></label>
                            <input asp-for="FullName" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>

                </section>

            </div>
            <div class="col-md-6 col-md-offset-2">
                <section>
                    <h3>Use another service to log in.</h3>
                    <hr />
                    @{
                        if (true)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                        article
                                        about setting up this ASP.NET application to support logging in via external services
                                    </a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            //<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            //    <div>
                            //        <p>
                            //            @foreach (var provider in Model.ExternalLogins)
                            //            {
                            //                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            //            }
                            //        </p>
                            //    </div>
                            //</form>
                        }
                    }
                </section>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script type="text/javascript">

    var workingInfo  = @Html.Raw(Json.Serialize(workingInfo))
     var bookedTimes = @Html.Raw(Json.Serialize(ViewBag.BookingTimes))

     var minTime ="01/01/2001 " + "00:00"

     var maxTime ="01/01/2001 " + "00:00"
     if(workingInfo)
     {
         minTime =workingInfo ||  workingInfo.fromTime != null ?workingInfo.fromTime: "01/01/2001 " + "00:00"
         maxTime = workingInfo || workingInfo.toTime != null ?workingInfo.toTime: "01/01/2001 " + "00:00"
     }

     //var times = ["00:51"];
     //times[0] = "00:00";
      var sDate = new Date(minTime);
      var eDate = new Date(maxTime);
      var sessionTime = @Model.Court.SessionTime;
      var startTime = (sDate.getHours()=='0'?"00":sDate.getHours())+":"+(sDate.getMinutes() == "0"?"00":sDate.getMinutes());
      var endTime = (eDate.getHours() == '0'?"23":eDate.getHours())+":"+(+eDate.getMinutes() == "0"?"59":eDate.getMinutes());

</script>
<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<!-- CSS CDN -->
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" />
<!-- datetimepicker jQuery CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js">
</script>
<script type="text/javascript">
</script>
<script type="text/javascript">


    function disableSomeDays(date) {
        var day = date.getDay();
        if(!workingInfo)
        {
        return [true] ;
        }
        else if (workingInfo.fromDay == null ||   day <= workingInfo.toDay && day >= workingInfo.fromDay) {

        return [true] ;

        } else {

        return [false] ;
        }
      }
    $('.datetimepicker').datetimepicker({
        format: 'Y-m-d H:i',
        beforeShowDay: disableSomeDays,
        minDate: 0,
        //disabledDates: ['2016-11-03 09:00'],
        //allowTimes: times,
        minTime:startTime,
        maxTime:endTime,
        step: sessionTime ,
        //lang:'ar',
          onChangeMonthYear: function () {
                alert('y');
          }

    });
    $.datetimepicker.setLocale('en');

</script>

}